/* layout */
* {
  font-family: "GmarketSansLight";
}

/* header */
#header {
  width: 100%;
  background: #fff;
  position: fixed;
  z-index: 9000;
  font-family: "GmarketSansLight";
}
.row {
  margin: 0;
}
.header__bar {
  position: relative;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1.5px solid #555;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.logo {
  margin: 0.5em 0;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
}
.logo img {
  width: 75px;
}
.search__bar {
  width: 100%;
  max-width: 100%;
}
.search__icon {
  margin-left: 1rem;
}
.my__page {
  position: absolute;
  right: 0;
  top: 91px;
  z-index: 100;
  width: 22em;
  float: right;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.my__page .my__page__title {
  padding: 1rem;
  border-bottom: 1px solid #d94870;
  color: #d94870;
  font-size: 1.1rem;
  font-family: "GmarketSansMedium";
}
.my__page__list {
  min-height: 150px;
  padding: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.my__page__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}
.my__page__item .photo {
  margin-right: 0.5rem;
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.my__page__contents {
  margin-right: 1rem;
  display: flex;
}
.my__page__contents .list__title {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 20px;
  margin-bottom: 2px;
  width: 110px;
}
.my__page__contents .list__title p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
}
.my__page__contents .list__title span {
  color: #ffa800;
  padding-left: 1rem;
}
.my__page__contents .list__desc {
  color: #666;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.my__page__login {
  border-top: 1px solid #d94870;
}
.heart {
  width: 30px !important;
  height: 30px !important;
}
.search__word {
  font-size: 16px !important;
  line-height: 20px;
  color: #555;
  font-weight: 700;
}
.my__page__phrases {
  text-align: center;
  line-height: 120px;
  font-size: 18px;
}

/* main home ---> region */
#region {
  font-family: "GmarketSansLight";
  background: url(../../assets/image/main1@3x.jpg);
  background-size: cover;
  position: relative;
  z-index: 8000;
}
.region {
  backdrop-filter: blur(15px);
  padding: 17em 0 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.region__title {
  font-size: 3rem !important;
  font-family: "GmarketSansBold";
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
  color: #fff;
}
.region__title .fa-quote-left {
  margin-right: 10px;
}
.region__title .fa-quote-right {
  margin-left: 10px;
}
.region__desc {
  font-size: 2rem !important;
  font-family: "GmarketSansMedium";
  color: #fff;
}
.region__items {
  padding: 10em 0 0;
  width: 77%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.region__items span {
  /* color: #333; */
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
}
.v-btn.v-size--default {
  font-size: 1.1rem;
  font-family: "GmarketSansMedium";
}
.v-btn:not(.v-btn--round).v-size--default {
  margin: 15px;
}
@media (max-width: 1655px) {
  .region__items {
    width: 64%;
  }
}

/* main 2 ---> select */
#select {
  position: relative;
  z-index: 7000;
  width: 100vw;
  height: 548vw;
}
/* main 2 ---> icon */
#icon {
  position: fixed;
  z-index: 7000;
  left: 0;
  bottom: 0;
  padding: 0 2em;
  /* max-height: 14.4rem; */
  overflow: hidden;
}
.menu__icon {
  display: flex;
  font-size: 0;
}
.menu__icon__img {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3.5rem;
  transition: 1s;
}
.menu__icon__img {
  transform: translateY(80px);
}
.menu__icon__img.down {
  transform: translateY(80px);
}
.menu__icon__img:hover {
  transform: translateY(10px);
}
.menu__icon__img.active {
  transform: translateY(10px);
}
.menu__icon__img img {
  width: 75% !important;
}

/* main 2 ---> menu */
#menu {
  height: 100%;
  width: 490vh;
  z-index: 4000;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  font-family: "GmarketSansLight";
}
#menu > div {
  position: relative;
  height: 100vh;
}
.menu__item {
  position: relative;
  min-width: 100vw;
  min-height: 63em;
  padding: 11em 0 28em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}
.menu__item__title {
  font-size: 3rem !important;
  font-family: "GmarketSansBold";
}
.menu__item__title .fa-quote-left {
  margin-right: 10px;
}
.menu__item__title .fa-quote-right {
  margin-left: 10px;
}
.menu__item__title p {
  font-size: 2rem !important;
  font-family: "GmarketSansMedium";
}
.menu__item__title .arrow {
  position: absolute;
  right: 2.5em;
  top: 62%;
  width: 130px;
  animation: downMove 1s infinite;
}
.menu__item__desc {
  margin-top: 3rem;
  font-size: 1.2rem;
  line-height: 2rem;
  width: 50%;
  margin-bottom: 0;
}
.menu__item__desc p {
  margin-bottom: 0 !important;
}
.menu__item__desc span {
  display: block;
  margin-top: 3rem;
}

.section__item {
  width: 1000vw;
  background: beige;
  display: flex;
}
.section__container {
  min-width: 100vw;
  position: relative;
  max-height: 69em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: 1s;
}
.contents {
  margin-top: 11em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 80%;
}
.contents::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5em;
  transform: translateX(-50%);
  width: 100%;
  height: 15rem;
  border-radius: 15px;
}
#korean__food .contents::after {
  background: #f2f0d3;
}
#chinese__food .contents::after {
  background: #ebdfcb;
}
#japan__food .contents::after {
  background: #dce6d2;
}
#western__food .contents::after {
  background: #e2d7e2;
}
#fast__food .contents::after {
  background: #ead3d8;
}
.side__title {
  z-index: 12;
  text-transform: uppercase;
  font-size: 1.4rem;
  position: absolute;
  left: 0.2vw;
  top: 0;
}
.side__title p {
  writing-mode: vertical-rl;
}
.side__title span {
  margin-top: 0.5em;
}
.side__title .line {
  display: inline-block;
  width: 1px;
  height: 53px;
  background: #000;
}
.image {
  position: relative;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 56em;
  height: 35em;
  overflow: hidden;
  cursor: pointer;
  background: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-family: "GmarketSansMedium";
  transition: 10s;
}
.image:hover img {
  opacity: 0.8;
}
.image:hover .click__effect {
  display: block;
}
.image img {
  width: 800px;
}
.click__effect {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.click__effect i {
  line-height: 50px;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  font-size: 30px;
}
.click__effect span {
  font-size: 35px;
  font-weight: 700;
  margin-left: 10px;
  color: #fff;
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}
.desc {
  /* background: pink; */
  white-space: normal;
  width: 47em;
  z-index: 10;
  text-align: left;
  margin-left: 1.3vw;
  margin-top: 3.5em;
}
.desc h3 {
  font-size: 2.3rem;
  margin-bottom: 1.3em;
  font-weight: bold;
}
.desc span {
  font-size: 1.2rem;
  line-height: 1.9rem;
}
/* animation */
@keyframes downMove {
  0% {
    transform: translateX(0.5vw);
  }
  100% {
    transform: translateX(0);
  }
}

/*  search_list_title */
.search_list_title {
  font-size: 40px;
  text-align: center;
  padding-top: 150px;
}
.search_list {
  position: relative;
}
.homeBtn {
  position: absolute;
  left: 2vw;
  top: 13vh;
}
.search_list_setRegion {
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 40px;
}

.search_list_imgcard {
  padding-left: 17%;
  min-height: 45vh;
}

.search_warning {
  font-size: 28px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.v-application--is-ltr .v-responsive__sizer ~ .v-responsive__content {
  margin-left: -100%;
  cursor: pointer;
}

.card_category {
  font-size: 16px;
}

.card_name {
  font-size: 22px;
  font-weight: bold;
}
.clearfix {
  *zoom: 1;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  line-height: 0;
}
.clearfix::after {
  clear: both;
}

.imgcard_box {
  margin-right: 30px;
  float: left;
}

/* RestaurantDetail */
.app {
  position: relative;
}
.backBtn {
  position: absolute;
  left: 2vw;
  top: 13vh;
}
.restaurant {
  min-height: 44vw;
}
@media (max-width: 1800px) {
  .restaurant {
    min-height: 60vw;
  }
}

/* 텝 메뉴 */
.theme--light.v-toolbar.v-sheet {
  margin-top: 106px;
}
.v-slide-group__content > a > span {
  font-weight: 700;
}
.tab_menu {
  margin-left: 8%;
  width: 1500px;
}

.tab_title_size {
  width: 100px;
}
.detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.res_info {
  margin: 6vh 0 8vh;
}
.main_img {
  width: 32.5vw !important;
  margin-left: 2.5vw;
}
.detail_table tr {
  height: 20px;
}
.detail_table td {
  font-size: 18px !important;
}
.detail_table h1 {
  font-size: 30px !important;
}
.like_btn {
  margin-left: 10px;
}
.td_a_width {
  width: 400px;
}
.table_img {
  width: 700px;
  height: 310px;
  border-radius: 10px;
}
.table_slider_img {
  width: 340px;
  height: 220px;
  border-radius: 10px;
}

.tag_style {
  color: #aecc5d;
  font-family: "GmarketSansMedium";
}
/* slider */
.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12vh;
  max-width: 90%;
}
.slider__items {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.item {
  display: inline-block;
  position: relative;
  border-radius: 15px;
  width: 30em;
  height: 18em;
  overflow: hidden;
  margin: 0 0.7em;
}
.item img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.prev,
.next {
  width: 3vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prev i,
.next i {
  font-size: 1.2em;
  color: #999;
}

/* review */
.res_review {
  padding-top: 80px;
  margin-left: 360px;
  padding-bottom: 70px;
  width: 1090px;
}

.res_review_title {
  padding-bottom: 20px;
}
.res_review_title h2 {
  font-size: 22px !important;
  display: flex;
  justify-content: space-between;
}
.review_btn {
  float: right;
  width: 250px;
}

.review {
  min-width: 57vw;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(231, 231, 231);
  padding-top: 30px;
}

.user_icon {
  padding-left: 20px;
  font-size: 60px;
}

.review_td_a {
  width: 100px;
  padding-left: 20px;
}

.review_td_b {
  width: 500px;
  padding-left: 5px;
}

.review_td_c {
  float: right;
  font-size: 20px;
  padding-right: 15px;
}

.review_td_c i {
  margin-right: 10px;
}

.review_date {
  padding-left: 20px;
}

.review_contnents_title {
  padding-top: 20px;
}

.review_contnents {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
}

.show_more {
  text-align: center;
  color: gray;
  font-weight: bold;
  padding-top: 20px;
}
.addBtn {
  font-size: 14px !important;
}

/* menu */
.res_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.res_menu h2 {
  padding: 9vh 0 10vh 18vw;
  height: 80px;
  font-size: 25px !important;
}
.menu_table {
  padding-left: 18vw;
  color: gray;
  font-size: 18px;
}
.menu_table tr {
  height: 50px;
}
.menu_title {
  width: 6.5vw;
}

.menu_hr div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  padding: 0px 2vw 0 6vw;
  border-top: 1px solid gray;
}
.menu_price {
  width: 9vw;
  text-align: left;
  /* padding-left: 2vw; */
}
.bestBtn {
  margin: 0 0vw 0 1.6vw;
}
.add_review {
  padding: 35px;
  font-size: 20px;
  background-color: #aecc5d;
}

.add_review h2 {
  padding-left: 50px;
  font-size: 30px !important;
  text-transform: uppercase;
}

.add_review_input {
  padding: 40px;
  font-size: 20px;
  margin-left: 20px;
}

.add_review_input input {
  margin-bottom: 10px;
  border: 1px solid rgb(233, 233, 233);
  width: 98%;
  height: 50px;
  padding-left: 20px;
  font-size: 20px !important;
}

.add_review_input textarea {
  padding-top: 20px;
  padding-left: 20px;
  border: 1px solid rgb(233, 233, 233);
  width: 98%;
  height: 500px;
}

.review_btns {
  text-align: right;
  padding-right: 30px;
  font-family: "GmarketSansBold";
}
.rating_sheet {
  /* height: 300px; */
  padding: 50px;
}

.add_rating {
  text-align: center;
  font-size: 12px;
}
.add_rating h2 {
  height: 40px;
  font-size: 22px !important;
}

.add_rating_title {
  padding-left: 30px;
  /* padding-left: 20px; */
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 15px;
  background-color: #aecc5d;
}
.add_rating_title h2 {
  font-size: 25px !important;
  text-transform: uppercase;
}

.review_btn_rating {
  text-align: right;
  /* padding-right: 30px; */
  font-family: "GmarketSansBold";
}

/* footer */
#footer {
  background: #191919;
  padding: 1.1rem 2rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "GmarketSansLight";
}
.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .footer__logo img {
  width: 80px;
} */
.footer__logo em {
  font-size: 1.8rem;
  font-family: "Pacifico", cursive;
  margin-bottom: 0.4rem;
}
.footer__logo span {
  font-size: 12px;
}
.footer__contents {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__list {
  margin-bottom: 5px;
}
.footer__list li {
  display: inline-block;
  margin-right: 1rem;
  position: relative;
}
.footer__list li::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 2px;
  width: 0.8px;
  height: 15px;
  background: #fff;
  opacity: 0.8;
}
.footer__list li:last-child {
  margin-right: 0;
}
.footer__list li:last-child:after {
  display: none;
}
.footer__list li a {
  color: #fff;
  font-size: 14px;
}
.footer__copyright {
  margin-top: 5px;
}
.footer__copyright span {
  font-size: 12px;
}
